<ion-view view-title="Forgot Password" hide-nav-bar="">
<ion-content  class="padding splash">
<div style="margin-top:50px">

</div>


<div class="list">

            <ion-md-input placeholder="Enter User ID" highlight-color="balanced" type="text" ng-model="helper.userid"></ion-md-input>
            <ion-md-input placeholder="Enter Email Address" highlight-color="energized" type="password" ng-model="helper.email"></ion-md-input>

 <!--  <label class="item item-input">
   <i class="icon ion-person placeholder-icon"></i>
   <input type="text" placeholder="Enter User ID" ng-model="helper.userid">
 </label>
 <div class="divider">
 </div>


<label class="item item-input">
  <i class="icon ion-email placeholder-icon"></i>
  <input type="email" placeholder="Enter Email Address" ng-model="helper.email">
</label>
<div class="divider">    
</div> -->

</div>

<div class="padding">
  <a ng-click="sendhelp()" class="button button-full button-assertive ink"> Submit </a>
  <a href="#/login" class="button button-full button-assertive ink"> Login Page </a>

</div>

</ion-content>
</ion-view>
